parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: config/weave.php

		-
			message: '#^Parameter \#1 \$index of method PrinceJohn\\Weave\\FunctionDefinition\:\:getParameter\(\) expects int, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/FunctionDefinition.php

		-
			message: '#^Parameter \#2 \$default of method PrinceJohn\\Weave\\FunctionDefinition\:\:getParameter\(\) expects string\|null, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/FunctionDefinition.php

		-
			message: '#^Parameter \#1 \$key of static method Illuminate\\Config\\Repository\:\:string\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Functions/ConfigString.php

		-
			message: '#^Method PrinceJohn\\Weave\\StringResolver\:\:resolveString\(\) should return string\|false but returns Illuminate\\Support\\Stringable\|int\|string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Stringable\:\:pipe\(\) expects callable\(\)\: mixed, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$count of method Illuminate\\Support\\Stringable\:\:newLine\(\) expects int, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$default of method PrinceJohn\\Weave\\FunctionDefinition\:\:firstParameter\(\) expects string\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$index of method Illuminate\\Support\\Stringable\:\:charAt\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of method Illuminate\\Support\\Stringable\:\:padBoth\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of method Illuminate\\Support\\Stringable\:\:padLeft\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of method Illuminate\\Support\\Stringable\:\:padRight\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of static method Illuminate\\Support\\Str\:\:password\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of static method Illuminate\\Support\\Str\:\:random\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$limit of method Illuminate\\Support\\Stringable\:\:take\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$object_or_class of function is_a expects object\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$serialize of method Illuminate\\Support\\Stringable\:\:decrypt\(\) expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$start of method Illuminate\\Support\\Stringable\:\:substr\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$times of method Illuminate\\Support\\Stringable\:\:repeat\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$characters of static method Illuminate\\Support\\Str\:\:wordWrap\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$count of static method Illuminate\\Support\\Str\:\:plural\(\) expects array\|Countable\|int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$count of static method Illuminate\\Support\\Str\:\:pluralStudly\(\) expects array\|Countable\|int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$doubleEncode of function e expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$levels of function dirname expects int\<1, max\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$limit of static method Illuminate\\Support\\Str\:\:limit\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$serialize of function encrypt expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$strict of static method Illuminate\\Support\\Str\:\:fromBase64\(\) expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$words of static method Illuminate\\Support\\Str\:\:words\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Weaver.php

		-
			message: '#^Function PrinceJohn\\Weave\\str_args\(\) should return array\<int\|string, string\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/functions.php

		-
			message: '#^Only iterables can be unpacked, array\<mixed\>\|string given in argument \#1\.$#'
			identifier: argument.unpackNonIterable
			count: 1
			path: src/functions.php

		-
			message: '#^Parameter \#1 \$array of function array_walk expects array\|object, array\<mixed\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/functions.php

		-
			message: '#^Parameter \#1 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/functions.php
