parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: config/weave.php

		-
			message: '#^Parameter \#1 \$index of method PrinceJohn\\Weave\\FunctionDefinition\:\:getParameter\(\) expects int, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/FunctionDefinition.php

		-
			message: '#^Parameter \#2 \$default of method PrinceJohn\\Weave\\FunctionDefinition\:\:getParameter\(\) expects string\|null, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/FunctionDefinition.php

		-
			message: '#^Parameter \#1 \$default of method PrinceJohn\\Weave\\FunctionDefinition\:\:firstParameter\(\) expects string\|null, PrinceJohn\\Weave\\None\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Functions/ConfigString.php

		-
			message: '#^Parameter \#1 \$key of static method Illuminate\\Config\\Repository\:\:string\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Functions/ConfigString.php

		-
			message: '#^Method PrinceJohn\\Weave\\Functions\\DefaultString\:\:handle\(\) should return string but returns PrinceJohn\\Weave\\None\|string\.$#'
			identifier: return.type
			count: 1
			path: src/Functions/DefaultString.php

		-
			message: '#^Method PrinceJohn\\Weave\\Functions\\RequiredString\:\:handle\(\) should return string but returns PrinceJohn\\Weave\\None\|string\.$#'
			identifier: return.type
			count: 1
			path: src/Functions/RequiredString.php

		-
			message: '#^Method PrinceJohn\\Weave\\StringResolver\:\:resolveString\(\) should return string\|false but returns Illuminate\\Support\\Stringable\|int\|string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Stringable\:\:pipe\(\) expects callable\(\)\: mixed, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$count of method Illuminate\\Support\\Stringable\:\:newLine\(\) expects int, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$default of method PrinceJohn\\Weave\\FunctionDefinition\:\:firstParameter\(\) expects string\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$haystack of static method Illuminate\\Support\\Str\:\:position\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$index of method Illuminate\\Support\\Stringable\:\:charAt\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of method Illuminate\\Support\\Stringable\:\:padBoth\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of method Illuminate\\Support\\Stringable\:\:padLeft\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of method Illuminate\\Support\\Stringable\:\:padRight\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of static method Illuminate\\Support\\Str\:\:password\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$length of static method Illuminate\\Support\\Str\:\:random\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$limit of method Illuminate\\Support\\Stringable\:\:take\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$object_or_class of function is_a expects object\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$path of function basename expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$path of function dirname expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$serialize of method Illuminate\\Support\\Stringable\:\:decrypt\(\) expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$start of method Illuminate\\Support\\Stringable\:\:substr\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of function base64_encode expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of function strip_tags expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:deduplicate\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:fromBase64\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:inlineMarkdown\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:lcfirst\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:markdown\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:of\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 36
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:transliterate\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:ucfirst\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:wordCount\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$string of static method Illuminate\\Support\\Str\:\:wordWrap\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$times of method Illuminate\\Support\\Stringable\:\:repeat\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of function e expects BackedEnum\|float\|Illuminate\\Contracts\\Support\\DeferringDisplayableValue\|Illuminate\\Contracts\\Support\\Htmlable\|int\|string\|null, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:apa\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:ascii\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:camel\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:headline\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:kebab\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:length\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:limit\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:lower\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:ltrim\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:plural\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:pluralStudly\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:reverse\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:rtrim\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:singular\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:snake\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:squish\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:studly\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:title\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:trim\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:upper\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:words\(\) expects string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$characters of static method Illuminate\\Support\\Str\:\:wordWrap\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$count of static method Illuminate\\Support\\Str\:\:plural\(\) expects array\|Countable\|int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$count of static method Illuminate\\Support\\Str\:\:pluralStudly\(\) expects array\|Countable\|int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$doubleEncode of function e expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$levels of function dirname expects int\<1, max\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$limit of static method Illuminate\\Support\\Str\:\:limit\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$serialize of function encrypt expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$strict of static method Illuminate\\Support\\Str\:\:fromBase64\(\) expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#2 \$words of static method Illuminate\\Support\\Str\:\:words\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/StringResolver.php

		-
			message: '#^Parameter \#1 \$key of method PrinceJohn\\Weave\\Weaver\:\:getVariable\(\) expects int\|string, PrinceJohn\\Weave\\None\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Weaver.php
